.li {
  background-color: #ed7b52;
  animation: name 1s linear;
}

@keyframes name {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #ed7b52;
  }
}

.ul {
  animation: hh 1s linear;
}

@keyframes hh {
  0% {
    background-color: #ed7b52;
  }
  100% {
    background-color: #fff;
  }
}

.lii {
  margin-bottom: 20px 0;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lii .z {
  display: flex;
  align-items: center;
}

.lii .z input {
  width: 30px;
  height: 20px;
}

.gong {
  display: flex;
}

.gong .red {
  background-color: #ed7b52;
  color: #fff;
}

.gong p {
  width: 80px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
}

.gong .pp:hover {
  background-color: #ed7b52;
  color: #fff;
}

.list {
  margin-top: 30px;
}

.list .tou {
  height: 80px;
  display: flex;
  align-items: center;
}

.list .tou input {
  border: 0;
  border-bottom: 2px dashed #ed7b52;
  outline: none;
  width: 75%;
  height: 40px;
  font-size: 20px;
}

.list .tou button {
  width: 70px;
  background-color: #fff;
  height: 25px;
  border: 1px solid black;
  transform: rotateZ(4deg);
  margin-left: 5px;
}

.list .tou button:hover {
  background-color: #ed7b52;
  color: #fff;
  width: 90px;
  height: 40px;
  font-size: 25px;
}

h2 {
  margin: 20px 0 0 97px;
}

.box {
  overflow: hidden;
  width: 100%;
  height: 98vh;
  background: linear-gradient(95deg, pink, #f5c1aa);
}

.box-list {
  width: 500px;
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 10px;
  padding: 0 20px;
}

.top {
  display: flex;
  align-items: center;
}

.top img {
  margin-top: 20px;
  width: 30%;
  margin-left: 20%;
}

.top .pi {
  color: #fff;
  background-color: #ed7b52;
  width: 100px;
  text-align: center;
  border-radius: 0 5px 15px 5px;
  height: 25px;
  line-height: 25px;
  margin-top: 5px;
  margin-left: 5px;
  transform: rotateZ(4deg);
}
